<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control">
    <label for="username">Username</label>
    <input id="username" type="password" class="form-control">
    <label for="password">Password</label>
    <input type="text" id="password" class="form-control">
    <label for="show-password">Show password</label>
    <input id="show-password" type="checkbox" class="form-control" (click)="showPassword($event)">
  </div>
</form>
